# Baseball Analytics

#### Individual Stats

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
teams =["Bethel", "Goshen", "Grace", "HU", "IWU", "Marian", "MVNU", "SAU", "SFU", "Taylor"]
t_nums = [1629, 1678, 1679, 1688, 1694, 1717, 1736, 1780, 1805, 1784]

In [3]:
urls = ['http://www.dakstats.com/WebSync/Pages/Team/IndividualStats.aspx?association=10&sg=MBA&conference=NAIMBA1_CROSS&team=' + str(num) + '&sea=NAIMBA_2019' for num in t_nums]
#Create a handle, page, to handle the contents of the website
pages = [requests.get(url) for url in urls]
#Store the page as an element tree using BeautifulSoup4
soups = [BeautifulSoup(page.content) for page in pages]

In [14]:
stat_tables = [[
    [
      [td.get_text(strip=True) for td in tr.find_all('td')] 
      for tr in table.find_all('tr') 
    ]#for each row in each table
    for table in soup.find_all('table',{"class":"gridViewReportBuilderWide"}) 
  ] for soup in soups] #for each table on each webpage

In [20]:
bat_headers = ["Batting", "GP", "GS", "AVG", "AB", "R", "H", "2B", "3B", "HR", "RBI", "TB", "SLG", "BB", "HBP", "SO", "GDP", "OBP", "SF", "SH", "SB", "SBA"]
bat_rows = [stat_tables[i][0] for i in range(len(teams))]

In [32]:
dfb = [pd.DataFrame(columns = bat_headers, data = bat_rows[i]) for i in range(len(teams))]
dfb = [df.iloc[1:] for df in dfb] # remove first empty row
dfb[2][:5]

,Batting,GP,GS,AVG,AB,R,H,2B,3B,HR,...,SLG,BB,HBP,SO,GDP,OBP,SF,SH,SB,SBA
1,"Harris, Xavier",44,44,0.336,137,25,46,8,0,0,...,0.394,21,8,31,3,0.446,2,1,4,6
2,"Griffin, Chris",43,41,0.333,132,28,44,8,5,5,...,0.583,28,4,32,0,0.463,0,1,0,2
3,"Anderson, David",42,42,0.322,174,21,56,8,2,0,...,0.391,10,0,15,5,0.355,2,1,4,7
4,"Sapp, Jacob",39,37,0.302,106,3,32,4,0,1,...,0.368,14,5,20,1,0.405,1,2,0,0
5,"Enyart, Mitchell",35,31,0.299,107,15,32,4,0,1,...,0.364,12,1,20,1,0.372,1,4,1,1

In [27]:
pitch_headers = ["Pitching", "ERA", "W", "L", "GP", "GS", "CG", "SHO", "CBO", "SV", "IP", "H", "R", "ER", "BB", "SO", "2B", "3B", "HR", "TBF", "B_AVG", "WP", "HBP", "BK", "SFA", "SHA"]
pitch_rows = [stat_tables[i][1] for i in range(len(teams))]

In [33]:
dfp = [pd.DataFrame(columns = pitch_headers, data = pitch_rows[i]) for i in range(len(teams))]
dfp = [df.iloc[1:] for df in dfp]
dfp[2][:5]

,Pitching,ERA,W,L,GP,GS,CG,SHO,CBO,SV,...,2B,3B,HR,TBF,B_AVG,WP,HBP,BK,SFA,SHA
1,"Haney, Houston",3.64,3,3,11,8,3,0,0,0,...,17,2,3,248,0.322,1,2,0,2,1
2,"Noska, Jordan",3.71,2,0,14,0,0,0,0,1,...,6,1,2,125,0.355,2,4,1,3,3
3,"Peterson, Ike",5.40,0,1,13,0,0,0,0,1,...,3,2,0,93,0.277,3,4,2,1,2
4,"Anderson, David",5.64,3,4,11,7,1,0,0,1,...,15,5,3,215,0.314,3,3,0,1,2
5,"Hammel, Jacob",6.43,2,0,10,0,0,0,0,1,...,5,0,0,62,0.212,4,2,0,0,1

In [31]:
field_headers = ["Fielding", "GP", "GS", "C", "PO", "A", "E", "FLD_pct", "DP", "TP", "SBA", "RCS", "SB_pct", "PB", "CI", "OBS"]
field_rows = [stat_tables[i][2] for i in range(len(teams))]

In [39]:
dff = [pd.DataFrame(columns = field_headers, data = field_rows[i]) for i in range(len(teams))]
dff = [df.iloc[1:] for df in dff]
dff[2][:5]

,Fielding,GP,GS,C,PO,A,E,FLD_pct,DP,TP,SBA,RCS,SB_pct,PB,CI,OBS
1,"Peebles, Joey",8,3,1,0,1,0,1.000,0,0,0,0,0.000,0,0,0
2,"Clark, Scottie",10,5,8,0,8,0,1.000,0,0,0,0,0.000,0,0,0
3,"Swartzentruber, Logan",13,9,5,1,4,0,1.000,0,0,0,0,0.000,0,0,0
4,"Hammel, Jacob",10,0,4,0,4,0,1.000,0,0,0,0,0.000,0,0,0
5,"Noska, Jordan",14,0,5,1,4,0,1.000,0,0,0,0,0.000,0,0,0

In [26]:
## Caught stealing
# dfb["CS"] = round(dfb["SBA"] - dfb["SB"], 3)
## Plate Appearances
# dfb["PA"] = round(dfb["AB"] + dfb["SF"] + dfb["SH"] + dfb["BB"] + dfb["HBP"])

## OPS
#dfb["OB%"] = dfb["OB%"].astype(float)
#dfb["SLG%"] = dfb["SLG%"].astype(float)
#dfb["OPS"] = dfb["OB%"] + dfb["SLG%"]

## Singles
#dfb["1B"] = dfb["H"] - dfb["2B"] - dfb["3B"] - dfb["HR"]
## Runs Created
#dfb["RC"] = round((dfb["H"] + dfb["BB"]) * dfb["TB"] / (dfb["AB"] + dfb["BB"]), 3)
## POP
#dfb["AVG"] = dfb["AVG"].astype(float)
#dfb["POP"] = dfb["OPS"] + dfb["AVG"]
#dfb

#### Park Factor

In [49]:
urls = ['http://www.dakstats.com/WebSync/Pages/Team/TeamSchedule.aspx?association=10&sg=MBA&sea=NAIMBA_2019&team=' +
        str(num) for num in t_nums]
#Create a handle, page, to handle the contents of the website
pages = [requests.get(url) for url in urls]
#Store the page as an element tree using BeautifulSoup4
soups = [BeautifulSoup(page.content) for page in pages]

The code below collects all of the html tables from the different teams' webpages on DakStats.

In [50]:
team_tables = [
  [
    [
      [td.get_text(strip=True) for td in tr.find_all('td')] 
      for tr in table.find_all('tr') 
    ]#for each row in each table
    for table in soup.find_all('table') 
  ]#for each table on each webpage
  for soup in soups 
]#for each team's webpage

The below for loop allows us to locate the table from the webpage that contains the data we are interested in. We find the headers in the 33rd table and the actual data in the 35th table. We will assume that this is the same for all teams.

In [51]:
for i in range(len(team_tables[2])):
  #print(i, team_tables[2][i])
  #The line ablve is commented out becuause we only needed to run it once to find the location of the data on the webpage.
  pass

Next, we define the column names for our dataframe.

In [53]:
headers = [['Date', 'Opponent', 'Location', 'Score', 'Outcome'] for tables in team_tables]
headers[2]

['Date', 'Opponent', 'Location', 'Score', 'Outcome']

Here, we collected the data into the list `team_rows`. We used the code `[:5]` to take only the first 5 columns of data and we used the code `[1::2]` to collect the data from every other row, since between each list of data there is an empty list.

In [54]:
team_rows = [[r[:5] for r in tables[35][1::2]] for tables in team_tables]
team_rows[2][:9]

[['2/27/2019', 'Lourdes (Ohio)', 'N', '3-4', 'L'],
 ['2/27/2019', 'Lourdes (Ohio)', 'N', '4-8', 'L'],
 ['3/2/2019', 'Cornerstone (Mich.)', 'N', '3-4', 'L'],
 ['3/2/2019', 'Trinity Baptist', 'N', '5-1', 'W'],
 ['3/4/2019', 'Michigan-Dearborn', 'N', '13-1', 'W'],
 ['3/5/2019', 'Rochester (Mich.)', 'N', '24-4', 'W'],
 ['3/6/2019', 'Robert Morris (Ill.)', 'N', '10-9', 'W'],
 ['3/8/2019', 'Bethel (Ind.) *', 'N', '13-6', 'W'],
 ['3/9/2019', 'Bethel (Ind.) *', 'N', '14-2', 'W']]

Now, we put the data into a datframe.

In [55]:
dfc = [pd.DataFrame(columns = headers[i], data = team_rows[i]) for i in range(len(headers))]
dfc[2][:5]

        Date             Opponent Location Score Outcome
0  2/27/2019       Lourdes (Ohio)        N   3-4       L
1  2/27/2019       Lourdes (Ohio)        N   4-8       L
2   3/2/2019  Cornerstone (Mich.)        N   3-4       L
3   3/2/2019      Trinity Baptist        N   5-1       W
4   3/4/2019    Michigan-Dearborn        N  13-1       W

We subset the data to only include opponents with an asterisk which denotes conference games.

In [56]:
conf_df = [df[df.Opponent.str.contains("*", regex = False)] for df in dfc]
conf_df[2][:5]

         Date         Opponent Location Score Outcome
7    3/8/2019  Bethel (Ind.) *        N  13-6       W
8    3/9/2019  Bethel (Ind.) *        N  14-2       W
9    3/9/2019  Bethel (Ind.) *        N   3-1       W
10  3/14/2019  Taylor (Ind.) *        A  5-15       L
11  3/16/2019  Taylor (Ind.) *        A  2-10       L

The below code copies the dataframe with `.copy()` to avoid errors, splits the "Score" column into two columns, one for the selected team and one for the opponent. Then, the code `str.replace(' \*', '', regex= True)` eliminates the parentheses and the number between them for extra-inning games.

In [58]:
tidy_conf = conf_df.copy()
for i, df in enumerate(conf_df):
  split_scores = df['Score'].str.replace(r"\(.*\)","").str.split('-', expand = True)
  tidy_conf[i] = df.assign(Score = pd.to_numeric(split_scores[0]),
                           Opp_score = pd.to_numeric(split_scores[1]),
                           Opponent = df.Opponent.str.replace(' \*', '', regex= True),
                           Date = pd.to_datetime(df.Date)
                           )
tidy_conf[2][:5]

         Date       Opponent Location  Score Outcome  Opp_score
7  2019-03-08  Bethel (Ind.)        N     13       W          6
8  2019-03-09  Bethel (Ind.)        N     14       W          2
9  2019-03-09  Bethel (Ind.)        N      3       W          1
10 2019-03-14  Taylor (Ind.)        A      5       L         15
11 2019-03-16  Taylor (Ind.)        A      2       L         10

Finally, we subset the home games in one dataframe and the away games in another, and then use the sum of the two score columns in each to calculate our park factor for each team.

In [59]:
conf_h = [df[df.Location.str.contains("H", regex = False)] for df in tidy_conf]
conf_a = [df[df.Location.str.contains("A", regex = False)] for df in tidy_conf]

In [61]:
h_runs_per_game = [(df.Score.sum() + df.Opp_score.sum())/len(df.index) for df in conf_h]
a_runs_per_game = [(df.Score.sum() + df.Opp_score.sum())/len(df.index) for df in conf_a]
park_factor = [h_runs_per_game[i]/a_runs_per_game[i] for i in range(len(headers))]
park_factor

[0.963768115942029,
 1.1224268689057422,
 0.8870967741935484,
 0.7320261437908496,
 1.0357675111773472,
 0.7938931297709924,
 0.8571428571428571,
 1.15,
 1.3483365949119375,
 1.3363844393592679]