In [1]:
import requests
import lxml.html as lh
import pandas as pd

url='http://www.dakstats.com/WebSync/Pages/Team/IndividualStats.aspx?association=10&sg=MBA&conference=NAIMBA1_CROSS&team=1679&sea=NAIMBA_2020'

page = requests.get(url)



doc = lh.fromstring(page.content)



tr_elements = doc.xpath('//tr')



look_at_tr = [len(T) for T in tr_elements]
for i in range(len(look_at_tr)):
    print(i, len(tr_elements[i]))


tr_elements1 = tr_elements[49:77]
tr_elements2 = tr_elements[77:91]
tr_elements3 = tr_elements[91:118]



col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements1[0]:
    i+=1
    name=t.text_content()
    print (i,name)
    col.append((name,[]))



#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements1)):
    #T is our j'th row
    T=tr_elements1[j]
   
    #If row is not of size 10, the //tr data is not from our table
    if len(T)!=22:
        break
   
    #i is the index of our column
    i=0
   
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content()
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1



[len(C) for (title,C) in col]



Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)



df

0 1
1 2
2 3
3 3
4 1
5 3
6 1
7 1
8 23
9 1
10 1
11 1
12 1
13 1
14 1
15 1
16 1
17 1
18 1
19 1
20 1
21 7
22 7
23 1
24 2
25 1
26 2
27 3
28 1
29 1
30 2
31 7
32 1
33 1
34 1
35 1
36 1
37 5
38 1
39 1
40 2
41 3
42 1
43 4
44 1
45 2
46 14
47 14
48 14
49 22
50 22
51 22
52 22
53 22
54 22
55 22
56 22
57 22
58 22
59 22
60 22
61 22
62 22
63 22
64 22
65 22
66 22
67 22
68 22
69 22
70 22
71 22
72 22
73 22
74 22
75 22
76 22
77 26
78 26
79 26
80 26
81 26
82 26
83 26
84 26
85 26
86 26
87 26
88 26
89 26
90 26
91 16
92 16
93 16
94 16
95 16
96 16
97 16
98 16
99 16
100 16
101 16
102 16
103 16
104 16
105 16
106 16
107 16
108 16
109 16
110 16
111 16
112 16
113 16
114 16
115 16
116 16
117 16
118 16
119 1
120 1
121 6
122 1
123 1
124 1
125 3
126 1
127 1
128 1
129 3
130 1
131 1
132 1
133 3
134 1
135 2
136 1
137 1
138 1
139 1
140 1
141 1
142 1
143 1
144 2
145 3
1 Batting
2 GP
3 GS
4 AVG
5 AB
6 R
7 H
8 2B
9 3B
10 HR
11 RBI
12 TB
13 SLG%
14 BB
15 HBP
16 SO
17 GDP
18 OB%
19 SF
20 SH
21 SB
22 SBA

,Batting,GP,GS,AVG,AB,R,H,2B,3B,HR,...,SLG%,BB,HBP,SO,GDP,OB%,SF,SH,SB,SBA
0,"Wagner, Ezra",3,2,0.500,2,0,1,0,0,0,...,0.500,2,0,0,0,0.750,0,0,0,0
1,"Griffin, Chris",14,4,0.415,53,15,22,3,1,2,...,0.623,6,2,12,1,0.492,0,0,2,3
2,"Rich, Alex",16,6,0.333,57,11,19,1,0,0,...,0.351,7,4,10,1,0.441,0,0,2,3
3,"Anderson, David",16,4,0.315,54,4,17,4,1,0,...,0.426,0,0,6,3,0.315,0,0,2,2
4,"Haney, Houston",13,6,0.294,17,2,5,2,0,0,...,0.412,4,0,5,1,0.429,0,0,0,1
5,"Mullet, Jaron",16,3,0.269,26,7,7,2,0,0,...,0.346,5,0,11,1,0.387,0,0,0,0
6,"Pawlik, Jeff",16,6,0.255,55,8,14,4,0,0,...,0.327,10,1,17,0,0.379,0,0,0,0
7,"Newkirk, Sam",14,4,0.245,49,6,12,3,0,3,...,0.490,5,1,12,0,0.321,1,0,3,3
8,"Brooks, Ethan",16,6,0.226,53,4,12,4,0,0,...,0.302,7,0,18,1,0.317,0,0,0,2
9,"Harris, Xavier",16,6,0.213,47,5,10,3,0,0,...,0.277,5,6,9,0,0.362,0,2,1,1
10,"Danforth, Patrick",15,6,0.175,40,4,7,2,0,0,...,0.225,2,4,10,0,0.283,0,2,4,5
11,"Buschman, Grant",14,1,0.083,12,4,1,0,0,0,...,0.083,3,0,5,0,0.250,1,0,1,1
12,"Decker, Jake",4,0,0.000,0,0,0,0,0,0,...,0.000,0,0,0,0,0.000,0,0,0,0
13,"Carr, Colin",2,2,0.000,5,0,0,0,0,0,...,0.000,0,0,4,0,0.000,0,0,0,0
14,"Bertke, Ryan",8,1,0.000,5,0,0,0,0,0,...,0.000,3,0,3,0,0.375,0,0,0,0
15,"Peterson, Ike",5,3,0.000,0,0,0,0,0,0,...,0.000,0,0,0,0,0.000,0,0,0,0
16,"Wilhelmi, Bret",5,2,0.000,0,0,0,0,0,0,...,0.000,0,0,0,0,0.000,0,0,0,0
17,"Sapp, Jacob",5,1,0.000,15,0,0,0,0,0,...,0.000,1,1,11,0,0.118,0,1,0,0
18,"Stoltzfus, Nick",7,0,0.000,0,0,0,0,0,0,...,0.000,0,0,0,0,0.000,0,0,0,0
19,"Schumacher, Hunter",6,3,0.000,0,0,0,0,0,0,...,0.000,0,0,0,0,0.000,0,0,0,0
20,"Fee, Colin",2,0,0.000,1,1,0,0,0,0,...,0.000,0,0,0,0,0.000,0,0,1,1
21,"Meyer, Mason",7,0,0.000,0,0,0,0,0,0,...,0.000,0,0,0,0,0.000,0,0,0,0
22,"Clark, Tanner",5,3,0.000,0,0,0,0,0,0,...,0.000,0,0,0,0,0.000,0,0,0,0
23,"Koch, Kameron",3,0,0.000,0,0,0,0,0,0,...,0.000,0,0,0,0,0.000,0,0,0,0
24,"Faubion, Jarrett",1,0,0.000,0,0,0,0,0,0,...,0.000,1,0,0,0,1.000,0,0,0,0
25,Total:,16,,0.259,491,71,127,28,2,5,...,0.354,61,19,133,8,0.361,2,5,16,22
26,Opponents:,16,,0.251,463,95,116,26,5,4,...,0.354,69,15,108,9,0.360,9,4,28,31