In [4]:
#pip install elosports

In [2]:
import pandas as pd
import datetime 
from elosports.elo import Elo


df = pd.read_csv("nfl_elo.csv")
from2000 = df[ (df['season']>1999)] 
allTeams = set(from2000.team1.tolist())
eloLeague = Elo(k = 20)

In [3]:
from2000[-5:]

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,score1,score2
16002,2018-01-14,2017,0,d,PIT,JAX,1664.251810,1532.082440,0.756760,0.243240,1641.204400,1555.129851,42,45
16003,2018-01-14,2017,0,d,MIN,NO,1667.692214,1636.781874,0.634624,0.365376,1680.238577,1624.235510,29,24
16004,2018-01-21,2017,0,c,NE,JAX,1745.107927,1555.129851,0.812718,0.187282,1750.510171,1549.727607,24,20
16005,2018-01-21,2017,0,c,PHI,MIN,1661.878061,1680.238577,0.566719,0.433281,1691.287319,1650.829319,38,7
16006,2018-02-04,2017,1,s,NE,PHI,1750.510171,1691.287319,0.584413,0.415587,1724.117995,1717.679495,33,41

In [7]:
for team in allTeams:
    eloLeague.addPlayer(team)

currSeason = 2000
for game in from2000.iterrows():
    if game[1].season > currSeason:
        for key in eloLeague.ratingDict.keys():
            eloLeague.ratingDict[key] = eloLeague.ratingDict[key] - ((eloLeague.ratingDict[key] - 1500) * (1/3.))
        currSeason += 1

    if game[1].score1 > game[1].score2:
        eloLeague.gameOver(game[1].team1, game[1].team2,True)
    else:
        eloLeague.gameOver(game[1].team2, game[1].team1,0)

for team in eloLeague.ratingDict.keys():
    print(team, eloLeague.ratingDict[team])

WSH 1483.7140067281027
CHI 1402.2094642282343
DEN 1480.120745652597
BUF 1505.7919696660754
GB 1512.2362952505803
PIT 1604.234295044287
NE 1657.9431100469733
SEA 1550.203276467007
ATL 1567.8375500311038
CAR 1554.6460851836562
OAK 1482.726134902254
CIN 1482.639964298762
KC 1553.1312415504078
LAR 1501.8929694192843
MIN 1585.6534411377163
DET 1519.1270502322766
IND 1431.6889473226995
PHI 1601.9037319329573
ARI 1512.8812035074834
JAX 1485.0278898852441
NYJ 1431.2762743441174
TEN 1498.7369458530468
DAL 1543.8482611792383
TB 1448.2308676918867
MIA 1473.5556751810827
HOU 1433.1943390211604
BAL 1502.8561644069798
CLE 1293.272678922271
LAC 1490.2033076023486
SF 1432.4506249961305
NO 1546.0878625024213
NYG 1430.6776258116151

In [14]:
eloLeague.expectResult(eloLeague.ratingDict['GB'],eloLeague.ratingDict['TB'])

0.5910831480204981

In [15]:
eloLeague.ratingDict['GB']

1512.2362952505803